<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="agent.urdf">
   <link name="base_link">
      <inertial>
         <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
         <mass value="1" />
         <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
      </inertial>
   </link>
   <link name="world" />
   <joint name="world_room_joint" type="fixed">
      <parent link="world" />
      <child link="base_link" />
   </joint>
   <link name="head">
      <sphere_inertia mass="0" radius="0" />
<!--      <visual>-->
<!--         <origin rpy="0 0 0" xyz="0 0 0" />-->
<!--         <geometry>-->
<!--&lt;!&ndash;            <mesh filename="package://h_neem/meshes/agent/controller.dae" />&ndash;&gt;-->
<!--         </geometry>-->
<!--      </visual>-->
   </link>
   <joint name="head_joint" type="fixed">
      <child link="head" />
      <parent link="base_link" />
      <axis xyz="0 0 0" />
       <origin rpy="12.5 262.5 355.8999938964844" xyz="-11.0 4.0 3.799999952316284" />
      <limit effort="300" lower="0" upper="0" velocity="10" />
   </joint>
    <link name="arm_l">
      <sphere_inertia mass="0" radius="0" />
      <visual>
         <origin rpy="0.0 270.0 0.0" xyz="-12.5 2.0999999046325685 2.799999952316284" />
         <geometry>
            <mesh filename="package://h_neem/meshes/agent/controller.dae" />
         </geometry>
      </visual>
   </link>
   <joint name="arm_l_joint" type="fixed">
      <child link="arm_l" />
      <parent link="base_link" />
      <axis xyz="0 0 0" />

      <limit effort="300" lower="0" upper="0" velocity="10" />
   </joint>
    <link name="arm_r">
      <sphere_inertia mass="0" radius="0" />
        <origin rpy="0.0 270.0 0.0" xyz="-12.5 2.0999999046325685 4.300000190734863" />
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0" />
         <geometry>
            <mesh filename="package://h_neem/meshes/agent/controller.dae" />
         </geometry>
      </visual>
   </link>
   <joint name="arm_r_joint" type="fixed">
      <child link="arm_r" />
      <parent link="base_link" />
      <axis xyz="0 0 0" />

      <limit effort="300" lower="0" upper="0" velocity="10" />
   </joint>

    <link name="player">
      <sphere_inertia mass="0" radius="0" />
<!--      <visual>-->
<!--         <origin rpy="0 0 0" xyz="0 0 0" />-->
<!--         <geometry>-->
<!--&lt;!&ndash;            <mesh filename="package://h_neem/meshes/agent/" />&ndash;&gt;-->
<!--         </geometry>-->
<!--      </visual>-->
   </link>
   <joint name="player_joint" type="fixed">
      <child link="player" />
      <parent link="base_link" />
      <axis xyz="0 0 0" />
       <origin rpy="0.0 270.0 0.0" xyz="-12.5 -0.8999999761581421 3.5" />
      <limit effort="300" lower="0" upper="0" velocity="10" />
   </joint>
</robot>